body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-width: 500px;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
.Container{
    display:flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    box-sizing: border-box;
    background-color: bisque;
    margin: 20px 20px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.badge-base__link.LI-simple-link {
    display: none;  
}
.h {
    color:black;
    font-family: Arial, sans-serif;
    margin: 10px 0;
    text-align: center;
}
h2, h3{
    font-size:medium;
}
.center-badge {
    display: flex;
    justify-content: center;
    width: 100%;
}
.github-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24292f; 
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    width: 250px;
    aspect-ratio: 3/1;
    border-radius: 8px;
    font-size: 1.5rem; 
    margin: 20px auto; 
    transition: background-color 0.3s ease;
}

.github-badge:hover {
    background-color: #444c56; 
}

.github-badge img {
    margin-right: 15px; 
    height: 32px;
    width: 32px;
}
.github-badge span {
    font-weight: bold;
}