body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 500;
    min-height: 600;
}
.Container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px; 
    min-height: 500px;
    background-color: bisque;
    margin: 0 auto;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
.badge-base__link {
    display: none; 
}

