.Container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 400px; 
    height: 500px;
    background-color: bisque;
    margin: 0 auto;
}
.p1{
    font-family: 'Times New Roman', Times, serif;
}
